@charset "UTF-8";
body.light {
  background-color: #e8e8e8;
}
body.light .calculator {
  background-color: #ffffff;
}
body.light .calculator #display {
  color: #2c3e50;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}
body.light .calculator .buttons .button {
  color: #2c3e50;
}
body.light .calculator .buttons .button.number {
  background-color: #e8e8e8;
}
body.light .calculator .buttons .button.number:hover {
  background-color: #cfcfcf;
}
body.light .calculator .buttons .button.operator {
  background-color: #e74c3c;
}
body.light .calculator .buttons .button.operator:hover {
  background-color: #d62c1a;
}
body.light .calculator .buttons .button.function {
  background-color: #00d0ea;
}
body.light .calculator .buttons .button.function:hover {
  background-color: #00a3b7;
}
body.light .calculator .buttons .button.equal {
  background-color: #ffca18;
}
body.light .calculator .buttons .button.equal:hover {
  background-color: #e4b000;
}

body.dark {
  background-color: #01010b;
}
body.dark .calculator {
  background-color: #1c1b20;
}
body.dark .calculator #display {
  color: #ecf0f1;
  background-color: #3b3f40;
  border-color: #3b3f40;
}
body.dark .calculator .buttons .button {
  color: #ecf0f1;
}
body.dark .calculator .buttons .button.number {
  background-color: #3b3f40;
}
body.dark .calculator .buttons .button.number:hover {
  background-color: #232525;
}
body.dark .calculator .buttons .button.operator {
  background-color: #e74c3c;
}
body.dark .calculator .buttons .button.operator:hover {
  background-color: #d62c1a;
}
body.dark .calculator .buttons .button.function {
  background-color: #34495e;
}
body.dark .calculator .buttons .button.function:hover {
  background-color: #22303d;
}
body.dark .calculator .buttons .button.equal {
  background-color: #202636;
}
body.dark .calculator .buttons .button.equal:hover {
  background-color: #0d0f16;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .calculator {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.container .calculator #display {
  margin-bottom: 10px;
  text-align: right;
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
  box-sizing: border-box;
}
.container .calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
}
.container .calculator .buttons .button {
  padding: 10px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .calculator .buttons .button.equal {
  grid-row: span 2;
}

@media (max-width: 768px) {
  .calculator {
    padding: 15px;
  }
  .calculator #display {
    font-size: 1.5em;
    padding: 8px;
  }
  .calculator .buttons {
    grid-template-rows: repeat(5, 50px);
  }
  .calculator .buttons .button {
    padding: 8px;
    font-size: 1.2em;
  }
}
@media (max-width: 480px) {
  .calculator {
    padding: 10px;
  }
  .calculator #display {
    font-size: 1.2em;
    padding: 6px;
  }
  .calculator .buttons {
    gap: 5px;
    grid-template-rows: repeat(5, 40px);
  }
  .calculator .buttons .button {
    padding: 6px;
    font-size: 1em;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202636;
  transition: 0.4s;
  border-radius: 34px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #e8e8e8;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #202636;
}
.switch input:checked + .slider:after {
  content: "☀️";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
.switch .slider:after {
  content: "🌙";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
