$themes: (
  light: (
    number: #e8e8e8,
    operator: #e74c3c,
    function: #00d0ea,
    equal: #ffca18,
    calculator: #ffffff,
    bg: #e8e8e8,
    display: #e8e8e8,
    text: #2c3e50,
  ),
  dark: (
    number: #3b3f40,
    operator: #e74c3c,
    function: #34495e,
    equal: #202636,
    calculator: #1c1b20,
    bg: #01010b,
    display: #3b3f40,
    text: #ecf0f1,
  )
);
